@charset "utf-8"; 
body{

    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    background-color:black;
}
#MAIN
{
   background-image:url(playbase.jpg);
    margin-left: 30%;
    margin-right: 8%;
    margin-top: 17%;
    height: 60vh;
   background-size: cover;
    background-position: center;
    
}
.navbar{
    transition: 2s;
    background-color: #262626;
    width: 100%;
    height: 100px;
    
}
.container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
ul{
    margin: 0;
    padding: 0;
    float:left;
}
ul li{
    list-style: none;
    float: left;
}
ul li #list{
    text-transform: uppercase;
    color:#fff;
    padding: 0 30px;
    line-height: 100px;
    height: 100px;
    display: block;
    font-family: arial;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
ul li #list1{
    font-size:30px; 
    text-transform: uppercase;
    color:#fff;
    margin-left:-50px;
    margin-right:180px;
    line-height: 100px;
    height: 100px;
    display: block;
    font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    position: relative;
    z-index: 1;
}
ul li #list1:hover{
    transition: 0.5s;
    color:#f00;
}
ul li #list1{
    transition: 0.5s;
    color:white;
}
ul li #list:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background: #f00;
    transition: .5s;
    z-index: -1;
}
ul li #list:hover:before{
    height: 100%;
}
h1
{
    margin-top: 40px;
    margin-left:80px;
    color: white;
    font-family: 'Futura', sans-serif;
    
}
.link a{
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}
.link a:hover {
  background-color: #ffffff;
  border-radius: 80px;
  color: #EEA200;
  padding: 5px 10px;
}
#welcome
{
    padding: 0px 10px;
    margin-left:0px;
    color: black;
    font-size: 50px;
    font-family: 'Futura', sans-serif;
}
#bt1
{
    outline: none;
    text-decoration: none;
    padding: 5px 25px;
    color:white;
    border:none;
    width:90px;
    height: 30px;
    margin-left: 20px;
    background-color:#000000;
    font-size:25px;
    text-align: center;
    font-family:sans-serif;
    border-radius: 80px;
     font-weight: 500;
}

#bt2
{
    outline:none;
    text-decoration: none;
    color:#232323;
    border:none;
    margin-left: 5px;
    padding: 5px 25px;
    text-align: center;
    background:white;
    font-family: sans-serif;
    font-size:25px;
    width:100px;
    height: 30px;
     font-weight: 500;
    border-radius: 80px;
}
.accordion {
    max-width: 990px;
    background: rgba(0, 0, 0, 0.10);
    height: 300px;
    margin: 20px auto;
    display: flex;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 100px;
}
.box {
       margin-top: 50px;
    position: relative;
    height: 100%;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 7;
    height: 400px;
}
.a1 {
    background-image: url("pug.jpg");
}
.a2 {
    background-image: url("p2.jpg")
}
.a3 {
    background-image: url("p1.jpg");
    color: #fff;
}
.a4 {
    background-image: url("coldplay.jpg");
    color: #fff;
}
.a5 {
    background-image: url("s1.jpg"); 
}
p {
    font-weight: normal;
    font-family: 'Exo 2', sans-serif;
}
.text {
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 10px;
}
.box:hover .text{
    opacity:1;
}
h1 {
    width: 250px;
    text-align: center;
    margin: 100px auto 20px auto;
}
@media screen and (max-width: 800px){
    body{
        margin: 0;
    }
    .accordion {
        flex-direction: column;
        height: 700px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        flex: 7;
    }
}
.welcome-text
{
    margin-top:70px; 
    margin-left: 100px;
    font-size: 30px;
    color:white;
}

